# URL for environment navigation
URL_DEV=http://localhost:4200/
URL_TEST=https://sd-zgw.test.denhaag.nl/
URL_ACC=https://sd-zgw.acc.denhaag.nl/

# Playwright login credentials for the local environment
USERNAME_DEV=admin
PASSWORD_DEV=admin
USERNAME_TEST=yourUsername@email.com
PASSWORD_TEST='your_password_in_quotes'
SECRET_KEY_TEST='your_secretkey_in_quotes'

# API configuration
# Path to the .http file containing the request body template
API_TEST_REQUEST_FILE=api-requests/verzoek-ab-automatisch.http

# Path to the JSON file with environment specific URLs and tokens
API_REQUEST_CONFIG_FILE=api-requests/http-client.private.env.json

# Select configuration key inside the JSON file above
INFRA_DEV=alo-dev
INFRA_TEST=alo-test
INFRA_ACC=alo-acc